<div class="text-Text">
    <h1>MAIN PAGE</h1>
    <p><a href="cv">cv</a></p>
    <p><a href="showcase">showcase</a></p>
    <p><a href="blog">blog</a></p>
    <p><a href="context">context</a></p>
</div>