<div class="flex w-[21cm] h-[29.7cm] bg-Mantle">
    <div class="flex-col flex-[4] bg-Base shadow">
		<div class="mt-12  m-16   rounded-full shadow-xl">
			<img src="imgs/pp.jpg" alt="I am" class=" rounded-full">
		</div>
		<div class="m-8 -mt-8">
			<h1 class="text-4xl font-bold text-Peach" >MEHMETCAN POLAT</h1>
			<h2 class=" leading-5 mt-3 text-xl font-bold text-Text" >TECHNICAL ARTIST &<br>DEVELOPER &<br>3D ARTIST</h2>
		</div>
		<div  class="m-8 ml-8">
			<h3 class="text-Mauve text-base font-bold">About Myself</h3>
			<p class="mt-3 indent-8 text-justify text-sm text-Text text-wrap   ">I have a passion for creating tools and systems that help artists and developers to create better content.  I am always looking for new opportunities to learn and grow as a professional.</p>
		</div>
		<div  class="m-6 ml-8">
			<h3 class="text-Mauve text-base font-bold">Contact</h3>
			<ul class="text-Text list-none flex-none">
				<li>
					<div class="flex flex-row m-2">
						<div class="w-[32px] h-[32px] my-auto p-1 mr-2 bg-Surface1 rounded-full flex items-center justify-center">
							<img class="w-[20px] mx-auto" src="imgs/icons/phone-solid.svg" alt="phone">
						</div>
						+90 553 054 54 24
					</div>
				</li>
				<li>
					<div class="flex flex-row m-2">
						<div class="w-[32px] h-[32px] my-auto p-1 mr-2 bg-Surface1 rounded-full flex items-center justify-center">
							<img class="w-[20px] mx-auto" src="imgs/icons/envelope-solid.svg" alt="phone">
						</div>
						Pometcan@gmail.com
					</div>
				</li>
				<li>
					<div class="flex flex-row m-2">
						<div class="w-[32px] h-[32px] my-auto p-1 mr-2 bg-Surface1 rounded-full flex items-center justify-center">
							<img class="w-[20px]" src="imgs/icons/www.svg" alt="phone">
						</div>
						https://www.sonu.ch/~pomet/
					</div>
				</li>
				<li>
					<div class="flex flex-row m-2">
						<div class="w-[32px] h-[32px] my-auto p-1 mr-2 bg-Surface1 rounded-full flex items-center justify-center">
							<img class="w-[20px] mx-auto" src="imgs/icons/location-dot-solid.svg" alt="phone">
						</div>
						Pendik / Istanbul
					</div>
				</li>
				<li>
					<div class="flex flex-row m-2">
						<div class="w-[32px] h-[32px] my-auto p-1 mr-2 bg-Surface1 rounded-full flex items-center justify-center">
							<img class="w-[20px] mx-auto" src="imgs/icons/linkedin-in.svg" alt="phone">
						</div>
						www.linkedin.com/in/pometcan/
					</div>
				</li>
			</ul>
		</div>
		<div  class="m-6 ml-8">
			<h3 class="text-Mauve text-base font-bold">Specialities</h3>
			<ul class="ml-6 text-Text list-disc">
				<li>Easy learning</li>
				<li>Creativity</li>
				<li>Problem Solution</li>
				<li>Contact</li>
			</ul>
		</div>
    </div>
	<div class="flex-[6]">
		<div>
			<h3 class="text-Text text-2xl text-right m-4 mr-16">Resume</h3>
			<div class="h-[3px] bg-Surface2 -mt-1 mr-12"></div>
		</div>
		<div>
			<div>
				<h3 class="text-Mauve text-xl text-left m-4 ml-16">Work Experience</h3>
				<div class="h-[3px] bg-Surface2 -mt-1 ml-12"></div>
			</div>
			<div class="ml-14 mr-12 m-4">
				<div class="flex flex-row mb-2">
					<h3 class="text-Peach text-xl">CREA YAZILIM</h3>
					<p class="text-Text ml-auto text-left">2018 - 2019</p>
				</div>
				<h4 class=" text-lg text-Flamingo">Compulsory Internship</h4>
				<p class="mt-2 indent-8 text-justify text-sm text-Text text-wrap">I got to know how to design websites using MVC and the blessings of .NET. It was a compulsory internship in high school.</p>
			</div>
			<div class="h-[2px] bg-Surface2 -mt-1 mr-12 ml-12"></div>
			<div class="ml-14 mr-12 m-4">
				<div class="mb-2">
					<h3 class="text-Peach text-xl">42. ve 47. Gönüllü Alaylar Kara Zıpka Giresun
						Uşaklarının Destansı Hikayesi | Belgesel Filmi</h3>
					<p class="text-Text ml-auto text-right">2022</p>
				</div>
				<h4 class="-mt-4 text-lg text-Flamingo">CGI Director</h4>
				<p class="mt-2 indent-8 text-justify text-sm text-Text text-wrap">I made the 3D models and CGI in this short film.</p>
			</div>
		</div>
		<div>
			<div>
				<h3 class="text-Mauve text-xl text-left m-4 ml-16">Education</h3>
				<div class="h-[3px] bg-Surface2 -mt-1 ml-12"></div>
			</div>
			<div class="ml-14 mr-12 m-4">
				<div class="flex flex-row mb-2">
					<h3 class="text-Peach text-xl">42 İstanbul</h3>
					<p class="text-Text ml-auto text-left">2022 - 2024</p>
				</div>
				<h4 class=" text-lg text-Flamingo">Computer Engineering</h4>
			</div>
			<div class="h-[2px] bg-Surface2 -mt-1 mr-12 ml-12"></div>
			<div class="ml-14 mr-12 m-4">
				<div class="flex flex-row mb-2">
					<h3 class="text-Peach text-xl">Afyon Kocatepe Üniversitesi</h3>
					<p class="text-Text ml-auto text-right">2022 - 2024</p>
				</div>
				<h4 class=" text-lg text-Flamingo">Computer Programming</h4>
			</div>
		</div>
		<div>
			<div>
				<h3 class="text-Mauve text-xl text-left m-4 ml-16">Frameworks</h3>
				<div class="h-[3px] bg-Surface2 -mt-1 ml-12"></div>
			</div>
			<div class="mx-24 my-4">
				<h4 class="text-Green text-xl text-center">Desktop</h4>
				<div class="h-[2px] bg-Surface2"></div>
				<div class="flex flex-grow text-Text ml-4 mt-2 mb-2">
					<div class="flex-1">
						<p>OpenGL (C++)</p>
						<p>Vulkan (C++)</p>
						<p>Love2D (Lua)</p>
					</div>
					<div class="w-[3px] bg-Surface2"></div>
					<div class="flex-1 ml-4">
						<p>QT (C++, Lua)</p>
						<p>MiniLibX (C)</p>
						<p>.Net Forms (C#)</p>
					</div>
				</div>
				<h4 class="text-Green text-xl text-center">Web</h4>
				<div class="h-[2px] bg-Surface2"></div>
				<div class="flex flex-grow text-Text ml-4 mt-2 mb-2">
					<div class="flex-1">
						<p>Svelte</p>
					</div>
					<div class="w-[3px] bg-Surface2"></div>
					<div class="flex-1 ml-4">
						<p>React</p>
					</div>
				</div>
				<h4 class="text-Green text-xl  text-center">Mobil</h4>
				<div class="h-[2px] bg-Surface2"></div>
				<div class="flex flex-grow text-Text ml-4 mt-2 mb-2">
					<div class="flex-1">
						<p>React Native</p>
					</div>
					<div class="w-[3px] bg-Surface2"></div>
					<div class="flex-1 ml-4">
						<p>Love2D</p>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
